$fontsDir: 'Fonts/';

@font-face {
  font-family: Manrope;
  src: url('Fonts/Manrope-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Manrope;
  src: url('Fonts/Manrope-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Manrope;
  src: url('Fonts/Manrope-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Manrope;
  src: url('Fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Manrope;
  src: url('Fonts/Manrope-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Manrope;
  src: url('Fonts/Manrope-ExtraBold.ttf');
  font-weight: 800;
}
