@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');

@import url('./modules/fonts');

body {
  color: red;
  font-weight: 400;
  font-family: Manrope, sans-serif;
  background: black;
  background-image: url('Img/bigimg.jpg');
  background-size: cover;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
}

.icon {
  width: 20px;
  height: 20px;
}
